@{
    ViewData["Title"] = "Weather Forecast";
}
<div class="text-center">
<h2>Current Weather</h2>
    @{
        Weather.Current data = ViewData["curr"] as Weather.Current;
        Weather.Location loc = ViewData["loc"] as Weather.Location;
        var gmt = "";

        @if (@loc.name == "Reno")
        {
            gmt = "GMT - 7";
        }
        @if (@loc.name == "Austin")
        {
            gmt = "GMT - 5";
        }
        @if (@loc.name == "Reno")
        {
            gmt = "GMT - 4";
        }
        <p> Weather for @loc.name,@loc.region last updated at @data.last_updated local time (@gmt)</p>
    <img src=@data.condition.icon></img>
    <p> @data.condition.text</p>
    <p> The Temperature is @data.temp_f &deg F (Feels Like @data.feelslike_f &deg F)</p>
    <p> Wind : @data.wind_mph mph in direction @data.wind_dir</p>
    <p> Humidity : @data.humidity %</p>

}

<h2>Weather Forecast</h2>
</div>
<div style="font-family:Verdana; font-size:13px;" class="text-center">
    <table style="margin:0 auto; border:dashed 1px black;">
        <tr>
            <th colspan=5 style="font-family:Verdana; font-size:14px; font-weight:bold;">Date</th>
            <th colspan=5 style ="font-family:Verdana; font-size:14px; font-weight:bold;">Condition</th>
            <th colspan=5 style="font-family:Verdana; font-size:14px; font-weight:bold;">Temperature</th>
            <th> </th>
        </tr>
        @{
            if (ViewData["temp"] != null)
            {
                if (ViewData.Values != null && ViewData.Values.Count() > 0)
                {
                    foreach (var item in ViewData["temp"] as List<Weather.Forecastday>)
                    {
                        <tr>
                            <td colspan=5 style="font-family:Verdana; font-size:12px;">@item.date</td>
                            <td colspan=5 style ="font-family:Verdana; font-size:12px;">@item.day.condition.text</td>
                            <td colspan=5 style="font-family:Verdana; font-size:12px;">@item.day.mintemp_f - @item.day.maxtemp_f</td>
                            <td colspan = 4><img src=@item.day.condition.icon></img> </td> 
                        </tr>
                    }
                }
            }
        }
    </table>
</div> 